
:root {
    --primary: #2E7D32; /* Verde bosque */
    --secondary: #1565c0; /* Azul seguridad */
    --bg-light: #F5F5F5;
    --text-dark: #333;
    --white: #f5f5f5;
}
* {
    box-sizing: border-box;
}

html, body {
    width: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;

}
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
    color: var(--text-dark);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 100%;
    overflow-x: hidden;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 80 40' width='80' height='40'%3E%3Cpath fill='%2322c83d' fill-opacity='0.08' d='M0 40a19.96 19.96 0 0 1 5.9-14.11 20.17 20.17 0 0 1 19.44-5.2A20 20 0 0 1 20.2 40H0zM65.32.75A20.02 20.02 0 0 1 40.8 25.26 20.02 20.02 0 0 1 65.32.76zM.07 0h20.1l-.08.07A20.02 20.02 0 0 1 .75 5.25 20.08 20.08 0 0 1 .07 0zm1.94 40h2.53l4.26-4.24v-9.78A17.96 17.96 0 0 0 2 40zm5.38 0h9.8a17.98 17.98 0 0 0 6.67-16.42L7.4 40zm3.43-15.42v9.17l11.62-11.59c-3.97-.5-8.08.3-11.62 2.42zm32.86-.78A18 18 0 0 0 63.85 3.63L43.68 23.8zm7.2-19.17v9.15L62.43 2.22c-3.96-.5-8.05.3-11.57 2.4zm-3.49 2.72c-4.1 4.1-5.81 9.69-5.13 15.03l6.61-6.6V6.02c-.51.41-1 .85-1.48 1.33zM17.18 0H7.42L3.64 3.78A18 18 0 0 0 17.18 0zM2.08 0c-.01.8.04 1.58.14 2.37L4.59 0H2.07z'%3E%3C/path%3E%3C/svg%3E");
}

/* Header */
header {
    background-color: #f5f5f5;
    padding: 0.1rem 2rem;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

header h1 {
    color: var(--primary);
    margin: 0;
}

.btn-contacto-header {

    background-color: var(--secondary); 
    color: white;
    padding: 10px 20px;
    border-radius: 5px; 
    text-decoration: none;
    font-weight: bold;
    transition: all 0.3s dotted;
    border: 2px solid var(--secondary);
}

.btn-contacto-header:hover {
    background-color: transparent;
    color: var(--secondary) !important;
    transform: scale(1.05); 

}




/*  Quiénes Somos */
.seccion-texto {
    padding: 40px 20px;
    text-align: center;
    max-width: 800px;
    margin: 0 auto;
    line-height: 1.4;
}

/* Sección de Accesos (Botones Grandes) */
.seccion-accesos {
    background-color: #f5f5f5;
    padding: 50px 20px;
    text-align: center;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 80 40' width='80' height='40'%3E%3Cpath fill='%2322c83d' fill-opacity='0.08' d='M0 40a19.96 19.96 0 0 1 5.9-14.11 20.17 20.17 0 0 1 19.44-5.2A20 20 0 0 1 20.2 40H0zM65.32.75A20.02 20.02 0 0 1 40.8 25.26 20.02 20.02 0 0 1 65.32.76zM.07 0h20.1l-.08.07A20.02 20.02 0 0 1 .75 5.25 20.08 20.08 0 0 1 .07 0zm1.94 40h2.53l4.26-4.24v-9.78A17.96 17.96 0 0 0 2 40zm5.38 0h9.8a17.98 17.98 0 0 0 6.67-16.42L7.4 40zm3.43-15.42v9.17l11.62-11.59c-3.97-.5-8.08.3-11.62 2.42zm32.86-.78A18 18 0 0 0 63.85 3.63L43.68 23.8zm7.2-19.17v9.15L62.43 2.22c-3.96-.5-8.05.3-11.57 2.4zm-3.49 2.72c-4.1 4.1-5.81 9.69-5.13 15.03l6.61-6.6V6.02c-.51.41-1 .85-1.48 1.33zM17.18 0H7.42L3.64 3.78A18 18 0 0 0 17.18 0zM2.08 0c-.01.8.04 1.58.14 2.37L4.59 0H2.07z'%3E%3C/path%3E%3C/svg%3E");

}

.contenedor-accesos {
    display: flex;
    justify-content: center;
    gap: 40px;
    margin-top: 50px;
    flex-wrap: wrap;
}

.card-acceso {
    background: #F5F5F5;
    width: 100%;
    max-width: 350px;
    padding: 40px 20px;
    border-radius: 15px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.1);
    cursor: pointer;
    transition: transform 0.3s, box-shadow 0.3s;
    border-top: 5px solid transparent;
}

.card-acceso:hover {
    transform: translateY(-10px);
    box-shadow: 0 15px 30px rgba(0,0,0,0.2);
}

.card-acceso.plagas { border-top-color: #1565c0; }
.card-acceso.seguridad { border-top-color: #2E7D32; } 

.card-acceso h3 { font-size: 1.8rem; margin-bottom: 15px; }
.btn-ver-mas {
    display: inline-block;
    margin-top: 20px;
    color: var(--secondary);
    font-weight: bold;
}

#titulo-categoria-seleccionada {
    text-align: center;
    width: 100%; 
    margin-top: 20px; 
    margin-bottom: 30px; 
}

/* Sección MET. DE TRABAJO */
.info-tecnica {
    padding: 60px 20px;
    text-align: center;
    background-color: #f5f5f5;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 80 40' width='80' height='40'%3E%3Cpath fill='%2322c83d' fill-opacity='0.08' d='M0 40a19.96 19.96 0 0 1 5.9-14.11 20.17 20.17 0 0 1 19.44-5.2A20 20 0 0 1 20.2 40H0zM65.32.75A20.02 20.02 0 0 1 40.8 25.26 20.02 20.02 0 0 1 65.32.76zM.07 0h20.1l-.08.07A20.02 20.02 0 0 1 .75 5.25 20.08 20.08 0 0 1 .07 0zm1.94 40h2.53l4.26-4.24v-9.78A17.96 17.96 0 0 0 2 40zm5.38 0h9.8a17.98 17.98 0 0 0 6.67-16.42L7.4 40zm3.43-15.42v9.17l11.62-11.59c-3.97-.5-8.08.3-11.62 2.42zm32.86-.78A18 18 0 0 0 63.85 3.63L43.68 23.8zm7.2-19.17v9.15L62.43 2.22c-3.96-.5-8.05.3-11.57 2.4zm-3.49 2.72c-4.1 4.1-5.81 9.69-5.13 15.03l6.61-6.6V6.02c-.51.41-1 .85-1.48 1.33zM17.18 0H7.42L3.64 3.78A18 18 0 0 0 17.18 0zM2.08 0c-.01.8.04 1.58.14 2.37L4.59 0H2.07z'%3E%3C/path%3E%3C/svg%3E");

}

.grid-info {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 30px;
    max-width: 1000px;
    margin: 40px auto 0;
}

.item-info {
    padding: 20px;
    border: 1px solid #eee;
    border-radius: 10px;
}

.item-info h3 { color: var(--secondary); }

/* --- UTILIDADES --- */
.hidden { display: none !important; }


/* imagen logo */

.logo {
    display: flex;
    align-items: center;
}

/*para controlar el tamaño del logo */
.img-logo {
    max-height: 120px; 
    width: auto;      /* Esto mantiene la proporción para que no se estire feo */
    transition: transform 0.3s ease;
}


/* Botones de Filtro */
.btn-filter {
    background: none;
    border: 2px solid var(--primary);
    color: var(--primary);
    padding: 8px 16px;
    cursor: pointer;
    border-radius: 20px;
    margin-left: 10px;
    font-weight: bold;
    transition: 0.3s;
}

.btn-filter:hover, .btn-filter.active {
    background-color: var(--primary);
    color: var(--white);
}

/* Hero Section */
.hero {
    text-align: center;
    padding: 40px 20px;
    background: linear-gradient(135deg, var(--primary), var(--secondary));
    color: var(--white);
    margin-bottom: 30px;
}

/* Grid de Tarjetas */
.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
}

/* Diseño de la Tarjeta */
.card {
    background: var(--white);
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    transition: transform 0.2s;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.card:hover {
    transform: translateY(-5px);
}

.card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    background-color: #ddd;
}

.card-body {
    padding: 20px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.categoria-tag {
    font-size: 0.8rem;
    text-transform: uppercase;
    color: #888;
    margin-bottom: 5px;
}

.precio {
    font-size: 1.2rem;
    font-weight: bold;
    color: var(--secondary);
    margin: 10px 0;
}

/* Botón de WhatsApp */
.btn-whatsapp {
    display: block;
    width: max;
    text-align: center;
    background-color: #25D366; /* Color oficial WhatsApp */
    color: white;
    padding: 5px;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    margin-top: auto; 
}

.btn-whatsapp:hover {
    background-color: #1ebe57;
}


/* Boton VER MAS  */
.btn-leer-mas {
    background: none;
    border: none;
    color: var(--primary); 
    font-weight: bold;
    cursor: pointer;
    margin-top: 15px;
    font-size: 0.95rem;
    transition: 0.2s;
}

.btn-leer-mas:hover {
    color:#19461c ; 
}

/* Fondo oscuro del Modal */
.modal-overlay {
    position: fixed;
    top: 0; left: 0; width: 100%; height: 100%;
    background: rgba(0, 0, 0, 0.7); 
    display: flex;
    justify-content: center;
    align-items: center;
}

/* La caja blanca del Modal (ver mas)  */
.modal-content {
    background: white;
    padding: 30px;
    border-radius: 10px;
    max-width: 500px;
    width: 90%;
    position: relative;
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
    text-align: left; 
}
/* barra de scrolleo*/
.modal-texto {
    max-height: 60vh;
    overflow-y: auto; 
    padding-right: 15px; 
}

.modal-texto::-webkit-scrollbar {
    width: 8px;
}

.modal-texto::-webkit-scrollbar-thumb {
    background: #8a8a8a;
    border-radius: 10px;
}



/* Botón "X" para cerrar */
.btn-cerrar {
    position: absolute;
    top: 15px; right: 20px;
    font-size: 1.5rem;
    cursor: pointer;
    color: #888;
    font-weight: bold;
}

.btn-cerrar:hover { color: #d32f2f; }

/* Estilo para las viñetas */
.modal-texto ul {
    line-height: 1.8;
    color: var(--text-dark);
    padding-left: 20px;
    margin-top: 15px;
}

#contacto {
    margin-top: auto; 
    width: 100%;
    text-align: center;
    padding: 20px;
    background-color: #f5f5f5; 
}
#contacto a {
    color: var(--secondary); 
    text-decoration: none; 
    font-weight: bold;
}

#contacto a:hover {
    text-decoration: underline;
}

/* Responsive tamaño celular*/
@media (max-width: 480px){
    header {
        padding: 10px 15px;
        flex-direction: row;
        justify-content: space-between;
        gap: 5px;
        width: 100%;
    }
    .img-logo {
        max-height: 70px;
    }
    .btn-contacto-header {
        padding: 8px 12px;
        font-size: 13px;
    }
    .hero h1 {
        font-size: 2rem;
        padding: 0 10px;
    }


}